.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns .export{
    margin: 0 10px;
    position: relative;

}
.btns .export:hover .export-btn{
    display: flex !important;

}
.btns .export-btn{
    display: none;
    z-index: 100;
    position: absolute;
    background: #fff;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 3px;
}
.btns .export-btn button{
    background: transparent;
    border: 0;
    padding: 5px;
    text-align: left;
    width: 100%;
}
.btns .export-btn button:hover{
    background: #d9d9d9;
}
.btns .search{
    display: flex;
    align-items: center;

}

.btns .search input{
    line-height: 1.5;
    padding: 0.47rem 0.75rem;
    border: 1px solid #c5c5c5;
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem ;
}
.btns .search input:focus{
    outline: none;
}
.btns .search button{
    border: 1px solid #c5c5c5;
    background: #5156be;
    border-radius: 0  0.25rem 0.25rem 0;
}
.btns .search button{
    color: #fff;
}

* {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.wrapper {
    width: 60%;
}

h1 {
    margin-bottom: 20px;
}

.container {
    background-color: white;
    color: black;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
}

.question {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px 10px 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px dashed #5c5b7d;
}

.question::before {
    content: "\203A";
    font-size: 2.2rem;
    position: absolute;
    left: 20px;
    transition: 0.2s;
}

.question.active::before {
    transform: rotate(90deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}

.question.active + .answercont {
}

@media screen and (max-width: 790px){
    html {
        font-size: 14px;
    }
    .wrapper {
        width: 80%;
    }
}